// NORMAL CSS
#main .class1 {
	color: red;
}
#main .class1 .class2 {
	color: blue;
}
#main .class1 .class5 {
	color: green;
}
#main .class1 .class2 .class3 div {
	color: white;
}
#main .class1 .class2 .class3 div a {
	color: black;
}
// SCSS
#main .class1 {
	color: red;	
	.class5 {
		color: green;
	}
	.class2 {
		color: blue;
		.class3 div {
			color: white;
			a {
				color: black;
			}
		}
	}
}

.room-list {
	margin-bottom: 30px;
	margin-top: 30px;
}